<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>
    <p>Here are a few of our partner organizations:</p>
    <% if (user && user.role_name === 'admin') { %>
        <a href="/new-organization" class="btn">Add New Organization</a>
    <% } %>
    <ul>
        <% organizations.forEach(organization => { %>
            <li>
                <img src="/images/<%= organization.logo_filename %>" alt="<%= organization.name %> logo">
                <strong><a href="/organization/<%= organization.organization_id %>"><%= organization.name %></a></strong>: <%= organization.contact_email %>
                <% if (user && user.role_name === 'admin') { %>
                    <a href="/edit-organization/<%= organization.organization_id %>" class="btn btn-secondary">Edit</a>
                <% } %>
            </li>
        <% }); %>
    </ul>
</main>

<%- include('partials/footer') %>
